<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle Ship</title>
  <link rel="stylesheet" type="text/css" href='/css/styles.css'>
</head>
<body>
  <p style="text-align: center; margin: 0;">Place your ships!</p>
  <div class="ships-container">
    <!-- Battleship 4 tiles -->
    <!-- Carrier    5 tiles -->
    <!-- Cruiser    3 tiles -->
    <!-- Destroyer  2 tiles -->
    <!-- Submarine  3 tiles -->
    <div class="ship battleship-container"><div class="ship-label">Battleship: </div> <div class="battleship-ship"></div> </div>
    <div class="ship carrier-container"   ><div class="ship-label">Carrier: </div> <div class="carrier-ship"></div> </div>
    <div class="ship cruiser-container"   ><div class="ship-label">Cruiser: </div> <div class="cruiser-ship"></div> </div>
    <div class="ship destroyer-container" ><div class="ship-label">Destroyer: </div> <div class="destroyer-ship"></div> </div>
    <div class="ship submarine-container" ><div class="ship-label">Submarine: </div> <div class="submarine-ship"></div> </div>
  </div>
  <div class="grid-container">
    <div class="grid">
      <% for (const row of board) { %>
        <% for (const cell of row) { %>
          <div class="grid-cell"> <%= cell.ship ? cell.ship.name : 'none' %> </div>
        <% } %>
      <% } %>
    </div>
  </div>
</body>
</html>