<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle Ship</title>
  <link rel="stylesheet" type="text/css" href='/css/styles.css'>
</head>
<body>
  <div class="grid-container">
    <div class="grid">
      <% for (const row of board) { %>
        <% for (const cell of row) { %>
          <div class="grid-cell"> <%= cell.ship ? cell.ship.name : 'none' %> </div>
        <% } %>
      <% } %>
    </div>
  </div>
</body>
</html>