body {
  /* display: flex; */
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #767d96, #494D5F);
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-cell {
  display: flex;
  align-items: center;
  height: 54px;
  width: 54px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  /* TODO May be better way to 'snap' ships to grid */
  justify-content: flex-start;
  box-sizing: border-box;
}

/* END GRID STYLES TODO: Refactor away later. */

.ships-container {
  padding: 0 15px 15px 15px;
}

.ship {
  display: flex;
  padding: 4px;
  min-height: calc(55px / 2);
}

.ship-label {
  padding-right: 30px;
}

.ship-icon {
  cursor: grab;
  /* TODO May be better way to 'snap' ships to grid */
  flex-shrink: 0;
}

.battleship-ship {
  height: calc(55px / 2);
  width: calc(4 * 54px);
  background-color: rgb(79, 167, 182);
}

.carrier-ship {
  height: calc(55px / 2);
  width: calc(5 * 54px);
  background-color: rgb(79, 167, 182);
}

.cruiser-ship {
  height: calc(55px / 2);
  width: calc(3 * 54px);
  background-color: rgb(79, 167, 182);
}

.destroyer-ship {
  height: calc(55px / 2);
  width: calc(2 * 54px);
  background-color: rgb(79, 167, 182);
}

.submarine-ship {
  height: calc(55px / 2);
  width: calc(3 * 54px);
  background-color: rgb(79, 167, 182);
}